*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
  padding: 30px 20px;
  align-items: center;
  background-image:url("image/totoro image.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
header{
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 30px;
}
#background-button, #themes-button{
  font-size: 23px;
  font-family: Arial,sans-serif;
  font-weight: bold;
  padding: 10px 40px;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 10px white;
  background-color: hsla(180, 100%, 50%, 0.20);
  color: white;
  transition: 0.2s ease;
  cursor: pointer;
}
#themes-button:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 30px white;
}
#background-button:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 30px white;
}
#todocontainer{
  height: 300px;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px white;
  background-color: hsla(180, 100%, 50%, 0.20);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  will-change: transform;
  backface-visibility: hidden;
  transform-origin: center center;
  transition: transform 0.3s ease;
}
#todocontainer:hover{
  transform: scale(1.05);
  backdrop-filter: blur(10px);
}
h1{
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 50px;
  font-family: "Chewy", serif;
}

input::placeholder{
  font-size: 18px;
  font-style: italic;
}
#userinput{
  width: 350px;
  font-size: 25px;
  font-style: italic;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
  color: hsla(0, 0%, 0%, 0.70);
  cursor: default;
  transition: 0.2s ease-in-out;
}
#userinput:hover{
  box-shadow: inset 0px 0px 10px grey;
  transform: scale(1.07);
}
#userinput:focus{
  box-shadow: inset 0px 0px 10px grey;
  transform: scale(1.07);
}
#addbutton{
  font-size: 30px;
  font-family: Arial,sans-serif;
  font-weight: bold;
  padding: 10px 40px;
  border: 1px solid white;
  border-radius: 25px;
  background-color: hsla(0, 0%, 100%, 0.2);
  color: white;
  transition: 0.2s ease;
  cursor: pointer;
}
#addbutton:hover{
  transform: scale(1.1);
}
#addbutton:active{
  box-shadow: 0px 0px 30px white;
}
#todoresults{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 5px;
}
#todoresults:empty{
  display: none;
}
.todoresults{
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: fit-content;
  max-width: 250px;
  margin: 10px 0;
  gap: 5px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px white;
  background-color: hsla(180, 100%, 50%, 0.20);
  padding: 15px;
  color: white;
  will-change: transform;
  backface-visibility: hidden;
  transform-origin: center center;
  transition: transform 0.3s ease;
}
.todoresults:hover{
  transform: scale(1.5);
  backdrop-filter: blur(10px);
}
.completebtn{
  align-self: flex-end;
  width: fit-content;
  font-family: Arial,sans-serif;
  font-weight: bold;
  font-size: 11px;
  border: none;
  border-radius: 25px;
  background-color: hsla(0, 0%, 100%, 0.2);
  color: white;
  transition: 0.2s ease;
  cursor: pointer;
  padding: 0px 10px;
  transition: transform 0.3s ease;
}
.completebtn:hover{
  transform: scale(1.1);
  border: 1px solid white;
  
}
.completebtn:active{
  box-shadow: 0px 0px 5px white;
}

